section.row
  .col-md-1 ng-show="jewel.images.length"
    ul.img-thumbnails.clearfix
      li.small-image.pull-left.thumbnail ng-repeat="image in jewel.images"
        = image_tag "/assets{{image.name}}", height: 180, width: 180 
