<section class="row">
  <h2 class="text-center col-md6">Reviews</h2>
  <form class="form-horizontal edit-user" role="form" name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
    <blockquote>
      <div>
        <b>Stars: {{reviewCtrl.review.stars}}</b>
      </div>
      <div>
        {{reviewCtrl.review.body}}
      </div>
      <div>
        <cite>by: {{reviewCtrl.review.author}}</cite>
      </div>
    </blockquote>
    <div class="form-group">
      <label class="col-md-2 control-label col-md-offset-2"for="stars">Rating</label>
      <div class="col-md-5">
        <select class="form-control input-medium" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]">
          <option value="">Your Gem Rating</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label col-md-offset-2"for="review">Comment</label>
      <div class="col-md-7">
        <textarea class="form-control input-large" ng-model="reviewCtrl.review.body"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label col-md-offset-2" >by:</label>
      <div class="col-md-5">
        <input class="form-control input-large" ng-model="reviewCtrl.review.author" type="email"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-3">
        <input class="btn btn-primary" type="submit" value="Submit"/>
      </div>
    </div>
  </form>
</section>
